doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body
    form#myform(method='POST' action='/register')
      | Enter username
      input(type='text' name='itemname')
      |         Enter  password
      input(type='password' name='password')
      input(type='submit' value='send')

   